<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css.map' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css.map' />
</head>
<body>
<nav>
    <ul>
        <li>
           <a href="/">Home</a>
        </li>
        <li>
            <a href="/users">Users</a>
        </li>
        <li>
            <a href="/random">random</a>
        </li>
    </ul>
</nav>